# Editors
.vscode/

# Python Related Directories
*.egg-info/
.eggs/
.idea/
__pycache__/
.ruff_cache/
.venv/
htmlcov/

# Python Related Files
.coverage
Pipfile*
*.pkl
*.pyc

# Project Directories
build/
captchas/
dist/
ignore/
tmp/

# Project Files
*.log
*.ignore
*.gif
*.mp4
